<ion-content>
  <app-background></app-background>

  <!-- <div class="login-wrap">
    <div class="login-html">
      <span class="tab">Iniciar Sesión</span>
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmitLogin(form.value)">
        <div class="group">
          <ion-label for="user" class="label" position="floating">Correo electrónico</ion-label>
          <input type="text" class="input" formControlName="email" required>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div class="group">
          <ion-label for="pass" class="label" position="floating">Contraseña</ion-label>
          <input type="password" class="input" formControlName="password" data-type="password" required>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <br>
        <div class="group">
          <ion-button shape="round" type="submit" [disabled]="!form.valid">Ingresar</ion-button>
        </div>

        <div class="defaultUsers">
          <ion-chip color="warning" *ngFor="let user of defaultUsers" (click)="onSubmitLogin(user)">
            <ion-label color="light">{{user.email}}</ion-label>
          </ion-chip>
        </div>
      </form>
    </div>
  </div> -->

  <ion-card class="card-style">
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title class="title">Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmitLogin(form.value)">
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="text" class="input" formControlName="email" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" class="input" formControlName="password" data-type="password" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <!-- <div class="group">
          <ion-label for="user" class="label" position="floating">Correo electrónico</ion-label>
          <input type="text" class="input" formControlName="email" required>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div class="group">
          <ion-label for="pass" class="label" position="floating">Contraseña</ion-label>
          <input type="password" class="input" formControlName="password" data-type="password" required>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div> -->
        <br>
        <div class="group">
          <ion-button color="dark" type="submit" [disabled]="!form.valid">Ingresar</ion-button>
        </div>

        <div class="defaultUsers">
          <ion-chip color="warning" *ngFor="let user of defaultUsers" (click)="onSubmitLogin(user)">
            <ion-label color="light">{{user.email}}</ion-label>
          </ion-chip>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 activated</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 activated</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card> -->
</ion-content>