<ion-content [fullscreen]="true" class="background-image">

  <div class="vertical-center">
    <div class="center">

      <div class="button">
        <ion-img class="image" src="../../../assets/imgs/1-256.png" class="ion-align-self-end" (click)="sound('uno')">
        </ion-img>
      </div>

      <div class="button">
        <ion-img class="image" src="../../../assets/imgs/2-256.png" class="ion-align-self-end" (click)="sound('dos')">
        </ion-img>
      </div>

      <div class="button">
        <ion-img class="image" src="../../../assets/imgs/3-256.png" class="ion-align-self-end" (click)="sound('tres')">
        </ion-img>
      </div>
    </div>
  </div>

</ion-content>