<ion-content [fullscreen]="true" class="background-image">
    <div class="vertical-center">
        <div class="center">

            <div class="button">
                <ion-img class="image" src="../../../assets/imgs/blue-256.png" class="ion-align-self-end"
                    (click)="sound('azul')"></ion-img>
            </div>

            <div class="button">
                <ion-img class="image" src="../../../assets/imgs/red-256.png" class="ion-align-self-end"
                    (click)="sound('rojo')"></ion-img>
            </div>

            <div class="button">
                <ion-img class="image" src="../../../assets/imgs/yellow-256.png" class="ion-align-self-end"
                    (click)="sound('amarillo')"></ion-img>
            </div>

        </div>
    </div>
</ion-content>