.button {
  width: 100%;
  height: 46vh;
  /* padding: 5px; */
  outline: none;
  border: #ffce00 solid;
  border-width: 10px;
  border-style: ridge;
  margin-top: 4%;
}

.image {
  text-align: center;
  position: relative; /* To help the image + text element to get along with the rest of the page*/
  width: 100%;
}

h2 {
  position: absolute; /* To place the text on the image*/
  top: 74%; /* The exact location of the text from the top of the image*/
  left: 0; /* Other beautification stuff */
  width: 100%;
}

h2 span {
  color: white;
  font-weight: 600;
  font-family: auto;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background: #ffce00;
  border: black solid;
  padding: 6px;
}

h2 span.spacer {
  padding: 0 5px;
}
