<ion-content [fullscreen]="true" class="background-image">

    <div class="vertical-center">
        <div class="center">

            <div class="button">
                <ion-img class="image" src="../../../assets/imgs/lion.png" class="ion-align-self-end"
                    (click)="sound('leon')"></ion-img>
            </div>

            <div class="button">
                <ion-img class="image" src="../../../assets/imgs/cow.png" class="ion-align-self-end"
                    (click)="sound('vaca')"></ion-img>
            </div>

            <div class="button">
                <ion-img class="image" src="../../../assets/imgs/monkey.png" class="ion-align-self-end"
                    (click)="sound('mono')"></ion-img>
            </div>

        </div>
    </div>
</ion-content>