<img class="titulo" src="assets/titulo.png">

<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/qr.svg">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<!-- <ion-row>
  <ion-col size="8" size-lg>
    <ion-card-subtitle>Saldo disponible:</ion-card-subtitle>
  </ion-col>
  <ion-col size="4" size-lg style="padding-top: 0%;">
    <ion-chip style="margin-top: 0%;" (click)="clean()">
      <ion-icon name="trash-outline"></ion-icon>
      <ion-label>Limpiar</ion-label>
    </ion-chip>
  </ion-col>
</ion-row> -->

<div class="nombre">
  <img src="assets/nombre.png">
</div>