<ion-content [fullscreen]="true" class="background-image">

  <div class="vertical-center ">
    <div class="center ">

      <div class="button">
        <ion-img class="image" src="../../../assets/imgs/leon.png" class="ion-align-self-end"
          (click)="next('animales')">
        </ion-img>
      </div>

      <div class="button">
        <ion-img class="image" src="../../../assets/imgs/azul.png" class="ion-align-self-end"
          (click)="next('colores')"></ion-img>
      </div>

      <div class="button">
        <ion-img class="image" src="../../../assets/imgs/uno.png" class="ion-align-self-end"
          (click)="next('numeros')"></ion-img>
      </div>

    </div>
  </div>
</ion-content>