<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goHome()">
      <ion-icon name="flag"></ion-icon>
      <!-- <ion-label>Tab 1</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="animals">
      <ion-icon name="logo-tux"></ion-icon>
      <!-- <ion-label>Tab 1</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="colours">
      <ion-icon name="color-palette"></ion-icon>
      <!-- <ion-label>Tab 2</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="numbers">
      <ion-icon src="assets/number-one.svg"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>