.top-left {
    position: absolute;
    top: 11px;
    left: 18px;
    font-size: 18px;
    color: yellow;
}

.card {
    padding-bottom: 10px;
}

ion-slides {
    --bullet-background: red;
    --bullet-background-active: #ffce00;
    margin-top: 10%;
}

ion-slide {
    margin-bottom: -10px;
}

ion-card-title {
    margin-top: 0;
}

.btn-vote {
    position: fixed;
}

ion-item {
    margin-left: 15%;
    margin-right: 15%;
}
