<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Galería de imágenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="top" horizontal="end" slot="fixed" (click)="takePhoto()">
  <ion-fab-button color="warning">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-slides [options]="slideOpts" #slides [pager]="true">
  <ion-slide *ngFor="let image of images">
    <ion-card color="dark" class="card">
      <ion-card-header>
        <ion-card-content>
          <img src={{image.url}}>
          <span class="top-left">{{image.date | date:'dd-MM-yyyy'}}</span>
        </ion-card-content>
        <ion-card-title>
          <div *ngIf="images?.length > 0">
            <ion-fab class="btn-vote" horizontal="start" (click)="vote(0)">
              <ion-fab-button size="small" color="warning">
                <ion-icon name="thumbs-down"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <ion-fab class="btn-vote" horizontal="end" (click)="vote(1)">
              <ion-fab-button size="small" color="warning">
                <ion-icon name="thumbs-up"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <span>Subida por: {{image.user}}</span>
            <br>
            <span>Votos: {{image.votes}}</span>
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>

<ion-item color="dark" class="ion-text-center" *ngIf="images?.length==0">
  <ion-label color="light">Sin imágenes que mostrar</ion-label>
</ion-item>