<ion-content [fullscreen]="true" class="background-image">

  <div class="vertical-center ">
    <div class="center ">

      <div class="button">
        <ion-img class="image" src="../../../assets/imgs/es.png" class="ion-align-self-end"
          (click)="next('es')"></ion-img>
      </div>

      <div class="button">
        <ion-img class="image" src="../../../assets/imgs/en.png"
          class="ion-align-self-end" (click)="next('en')"></ion-img>
      </div>

      <div class="button">
        <ion-img class="image" src="../../../assets/imgs/pr.png" class="ion-align-self-end"
          (click)="next('pr')"></ion-img>
      </div>

    </div>
  </div>
</ion-content>