<ion-content [fullscreen]="true" class="background-image">

  <div class="vertical-center ">
    <div class="center ">

      <div class="button">
        <ion-img class="image" src="../../../assets/imgs/spain-flag-button-square-xs.png" class="ion-align-self-end"
          (click)="next('spanish')"></ion-img>
      </div>

      <div class="button">
        <ion-img class="image" src="../../../assets/imgs/united-kingdom-flag-button-square-xs.png"
          class="ion-align-self-end" (click)="next('english')"></ion-img>
      </div>

      <div class="button">
        <ion-img class="image" src="../../../assets/imgs/portugal-flag-button-square-xs.png" class="ion-align-self-end"
          (click)="next('portuguese')"></ion-img>
      </div>

    </div>
  </div>
</ion-content>