<ion-content [fullscreen]="true" class="background-image">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button color="sucess" fill="clear" class="botonLindo" expand="full" routerLink="/list/chat4a">
          PPS-4A
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button color="sucess" fill="clear" class="botonFeo" expand="full" routerLink="/list/chat4b">
          PPS-4B
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>